<!--{template common/header}-->
<script type="text/javascript" src="source/plugin/etuan/static/ueditor/editor_config.js"></script>
<script type="text/javascript" src="source/plugin/etuan/static/ueditor/editor_all.js"></script>
<link rel="stylesheet" href="source/plugin/etuan/static/ueditor/themes/default/ueditor.css"/>
<!--{if empty($_G['gp_infloat'])}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="plugin.php?id=etuan:my">{lang etuan:my_address}</a>
	</div>
</div>
<div id="ct" class="wp cl">
<!--{/if}-->
<h3 class="flb">
	<!--{if $op=='add'}-->
	<em>{lang etuan:my_add_address}</em>
	<!--{elseif $op=='edit'}-->
	<em>{lang etuan:my_edit_address}</em>
	<!--{/if}-->
	<!--{if !empty($_G['gp_infloat'])}-->
		<span>
			<a href="javascript:;" class="flbc" onclick="hideWindow('add_address')" title="{lang close}">{lang close}</a>
		</span>
	<!--{/if}-->
</h3>
<!--{if $op=='add'}-->
	<form method="post" name="address_form" id="address_form"  autocomplete="off" action="plugin.php?id=etuan:my&app=address&op=add" onsubmit="return add_validate();">
	<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
<!--{elseif $op=='edit'}-->
	<form method="post" name="address_form" id="address_form"  autocomplete="off" action="plugin.php?id=etuan:my&app=address&op=edit" onsubmit="return add_validate();">
	<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
	<input type="hidden" name="addressid" value="{$row[id]}" />
<!--{/if}-->

<div class="c" style="width: 650px;">
	<table width="100%" class="actl">
		<tr>
			<td width="15%" height="10"></td>
			<td></td>
			<td width="15%" height="10"></td>
			<td></td>

			<td width="15%" height="10"></td>
			<td></td>
		</tr>
		<tr>
		<td height="35" align="right">{lang etuan:my_address_community}: <span class="rq">*</span></td>
		<td colspan="5">
        <input name="community_name" id="community_name" type="hidden" value="{$row[community_name]}" />
            <!--{if $my_grouplist}-->
            <select name="community_id" id="community_id">
                <option value="0">{lang etuan:please_choose_group}</option>
                <!--{loop $my_grouplist $groupid $group}-->
                <option value="$groupid"<!--{if $groupid==$row['community_id']}--> selected="true"<!--{/if}-->>$group[name]</option>
                <!--{/loop}-->
            </select>
            <!--{else}-->
                <div class="emp">你还没加入过小区，赶快去<a href="forum.php?mod=group">加入自己的小区吧</a></div>
            <!--{/if}-->
		</td>
		</tr>


		<tr>
			<td height="35" align="right">{lang etuan:my_address_address}: <span class="rq">*</span></td>
			<td ><input name="address" id="address" type="text" class="px" size="20" value="{$row[address]}" /></td>
			<td height="35" align="right">邮编: <span class="rq">*</span></td>
			<td><input name="zip" id="zip" type="text" class="px" size="6" value="{$row[zip]}" /></td><td height="35" align="right">姓名: <span class="rq">*</span></td>
			<td><input name="name" id="name" type="text" class="px" size="10" value="{$row[name]}" /></td>
		</tr>

<tr>


			<td height="35" align="right">楼号: <span class="rq">*</span></td>
			<td><input name="building" id="building" type="text" class="px" size="10" value="{$row[building]}" /></td>

			<td height="35" align="right">单元号: <span class="rq">*</span></td>
			<td><input name="unit" id="unit" type="text" class="px" size="10" value="{$row[unit]}" /></td>

						<td height="35" align="right">房间号: <span class="rq">*</span></td>
			<td><input name="room" id="room" type="text" class="px" size="10" value="{$row[room]}" /></td>
</tr>

<tr>
						<td height="35" align="right">手机号: <span class="rq">*</span></td>
			<td><input name="mobile" id="mobile" type="text" class="px" size="11" value="{$row[mobile]}" /></td>
						<td height="35" align="right">座机号: <span class="rq">*</span></td>
			<td><input name="phone" id="phone" type="text" class="px" size="11" value="{$row[phone]}" /></td>
<td height="35" align="right">{lang etuan:my_address_email}: <span class="rq">*</span></td>
			<td><input name="email" id="email" type="text" class="px" size="20" value="{$row[email]}" /></td>
		</tr>


<tr>
<td height="35" align="right">{lang etuan:my_supplier_memo}: <span class="rq">*</span></td>
<td colspan="5">

<textarea  name="memo" id="memo" rows="5" cols="75" style="display:none">{$row['memo']}</textarea>
	<div id="memo_editor"></div>

</td>


</tr>
	</table>
</div>
<div class="o pns"><button type="submit" id="addsubmit" class="pn pnc" value="true" name="addsubmit"><span>{lang submit}</span></button></div>
</form>

<script type="text/javascript">
var memo_editor = new baidu.editor.ui.Editor({
	initialContent: '{$row['memo']}',
	minFrameHeight: 50,
    toolbars: [
        ['FontFamily','FontSize','Bold','Italic','Underline','ForeColor','BackColor','JustifyLeft','JustifyCenter','JustifyRight', 'InsertOrderedList','InsertUnorderedList', 'Emoticon','InsertImage','Link','Unlink','RemoveFormat','|','Undo','Redo']
		]
});
memo_editor.render('memo_editor');
function add_validate(){
	$('memo').value = memo_editor.getContent();
}
</script>

<!--{if empty($_G['gp_infloat'])}-->
</div>
<!--{/if}-->
<!--{template common/footer}-->