<!--{template common/header}-->
<script type="text/javascript" src="source/plugin/etuan/static/ueditor/editor_config.js"></script>
<script type="text/javascript" src="source/plugin/etuan/static/ueditor/editor_all.js"></script>
<link rel="stylesheet" href="source/plugin/etuan/static/ueditor/themes/default/ueditor.css"/>
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em> <a href="plugin.php?id=etuan:my&app=address">{lang etuan:my_address}</a>
	</div>
</div>


<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="thread" src="{STATICURL}image/feed/article.gif" class="vm" /> {lang etuan:my_address}</h1>

			<ul class="tb cl">
				<li class="a"><a href="plugin.php?id=etuan:my&app=address">{lang all}</a></li>
				<li class="o"><a href="javascript:void(0);" onclick="showWindow('add_address', 'plugin.php?id=etuan:my&app=address&op=add', 'get', 0)">{lang etuan:my_add_address}</a></li>
			</ul>


			<div class="tl">
					<table cellspacing="0" cellpadding="0" class='dt mtm'>
						<tr class="th">
							<th>{lang etuan:my_address_community}</th>
							<th>{lang etuan:my_address_address}</th>
							<th>姓名</th>
							<th>{lang etuan:my_address_phone}</th>
							<th>{lang etuan:my_address_email}</th>
							<th>{lang etuan:my_operation}</th>
						</tr>

					<!--{if $list}-->
						<!--{eval $i=0;}-->
						<!--{loop $list $value}-->
						<tr <!--{if $i%2==0}-->class="a"<!--{/if}--> id="_address_{$value[id]}">
							<td>$value[community_name]</td>
							<td>$value[address]</td>
							<td>$value[name]</td>
							<td>$value[phone]</td>
							<td>$value[email]</td>
							<td><a href="javascript:void(0);" onclick="showWindow('add_address', 'plugin.php?id=etuan:my&app=address&op=edit&addressid={$value[id]}', 'get', 0)" class="xi2">{lang edit}</a><span class="pipe">|</span><a href="javascript:void(0);" onclick="delete_address({$value[id]});" class="xi2">{lang delete}</a></td>

						</tr>
						<!--{eval $i++;}-->
						<!--{/loop}-->
					<!--{else}-->
						<tr>
							<td colspan="6"><p class="emp">{lang etuan:my_empty_address}</p></td>
						</tr>
					<!--{/if}-->
					</table>
			</div>

		</div>
	</div>
	<div class="appl">
		<!--{template etuan:my_right}-->
	</div>
</div>
<script type="text/javascript">
function delete_address(id){
	var x = new Ajax('HTML');
	x.get('plugin.php?id=etuan:my&app=address&op=delete&addressid='+id, function(s, x) {
		$('_address_' + id).style.display = 'none';
	});
}
</script>
<!--{template common/footer}-->