<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em><a href="plugin.php?id=etuan:my&app=order">{lang etuan:my_order}</a>
	</div>
</div>


<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="thread" src="{STATICURL}image/feed/article.gif" class="vm" /> {lang etuan:my_order}</h1>
			<ul class="tb cl">
				<li<!--{if $filter=="all"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=order&filter=all">{lang etuan:all_order}</a></li>
				<li<!--{if $filter=="finished"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=order&filter=finished">{lang etuan:finished_order}</a></li>
				<li<!--{if $filter=="pending"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=order&filter=pending">{lang etuan:pending_order}</a></li>
				<li<!--{if $filter=="paid"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=order&filter=paid">{lang etuan:paid_order}</a></li>
				<li<!--{if $filter=="shipped"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=order&filter=shipped">{lang etuan:shipped_order}</a></li>
			</ul>


			<div class="tl">
					<table cellspacing="0" cellpadding="0">
						<tr class="th">
							<td>{lang etuan:my_order_tuan}</td>
							<td>{lang etuan:my_order_bought_at}</td>
							<td>{lang etuan:my_order_payment}</td>
							<td>{lang etuan:my_order_shipmethod}</td>
							<td>{lang etuan:my_order_product_fee}</td>
							<td>{lang etuan:my_order_ship_fee}</td>
							<td>{lang etuan:my_order_credit_used}</td>
							<td>{lang etuan:my_order_actual_fee}</td>
							<td>{lang etuan:status}</td>
							<td>{lang etuan:my_operation}</td>
						</tr>

					<!--{if $list}-->
						<!--{eval $i=0;}-->
						<!--{loop $list $order}-->
						<tr <!--{if $i%2==0}-->class="a"<!--{/if}--> id="_order_{$order['id']}">
							<td>$order['tuan']['name']</td>
							<td>$order['bought_at']</td>
							<td>$payment_methods[$order['payment_method']]</td>
							<td>$ship_methods[$order['ship_method']]</td>
							<td>$order['sub_total']</td>
							<td>$order['ship_fee']</td>
							<td>$order['credit_used']</td>
							<td>$order['total']</td>
							<td>$order_statuss[$order['status']]</td>
							<td>
							<a href="plugin.php?id=etuan:my&app=order&op=view&orderid={$order['id']}">{lang etuan:view}</a>
							<!--{if $order['status']=='shipped'}-->
								<a href="plugin.php?id=etuan:my&app=order&op=confirm_received&orderid={$order['id']}">{lang etuan:confirm_order_received}</a>
							<!--{elseif $order['status']=='pending'}-->
							<!--{if $order['payment_method'] != 'cod'}-->
									<a href="plugin.php?id=etuan:my&app=order&op=pay&orderid={$order['id']}">{lang etuan:pay_order}</a>
								<!--{/if}-->
								<a href="plugin.php?id=etuan:my&app=order&op=cancel&orderid={$order['id']}">{lang etuan:cancel_order}</a>
							<!--{/if}-->


							</td>
						</tr>
						<!--{eval $i++;}-->
						<!--{/loop}-->
					<!--{else}-->
						<tr>
							<td colspan="6"><p class="emp">{lang etuan:my_empty_order}</p></td>
						</tr>
					<!--{/if}-->
					</table>
			</div>

		</div>
	</div>
	<div class="appl">
		<!--{template etuan:my_right}-->
	</div>
</div>
<!--{template common/footer}-->