<!--{template common/header}-->
<script type="text/javascript" src="source/plugin/etuan/static/ueditor/editor_config.js"></script>
<script type="text/javascript" src="source/plugin/etuan/static/ueditor/editor_all.js"></script>
<link rel="stylesheet" href="source/plugin/etuan/static/ueditor/themes/default/ueditor.css"/>
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em><a href="plugin.php?id=etuan:my&app=product">{lang etuan:my_product}</a>
	</div>
</div>


<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="thread" src="{STATICURL}image/feed/article.gif" class="vm" /> {lang etuan:my_product}</h1>

			<ul class="tb cl">
				<li class="a"><a href="plugin.php?id=etuan:my&app=product">{lang all}</a></li>
				<li class="o"><a href="plugin.php?id=etuan:my&app=product&op=add" onclick="showWindow('add_product', this.href, 'get', 0);return false;">{lang etuan:my_add_product}</a></li>
			</ul>


			<div class="tl">
					<table cellspacing="0" cellpadding="0" class='dt mtm'>
						<tr class="th">
							<th>{lang etuan:my_product_supplier}</th>
							<th>{lang etuan:my_product_name}</th>
							<th>{lang etuan:my_product_market_price}</th>
							<th>{lang etuan:my_product_supply_price}</th>
							<th>{lang etuan:my_product_price}</th>
							<th>{lang etuan:my_product_spec}</th>
							<th>{lang etuan:my_product_unit_name}</th>
							<th>简介</th>
							<th>{lang etuan:my_product_credit_limit}</th>
							<th>{lang etuan:my_operation}</th>
						</tr>

					<!--{if $list}-->
						<!--{eval $i=0;}-->
						<!--{loop $list $value}-->
						<tr <!--{if $i%2==0}-->class="a"<!--{/if}--> id="_product_{$value['id']}">
							<td><img src="$value['supplier']['logo']">$value['supplier']['name']</td>
							<td><img src="<!--{if $value['photo']==''}-->{$_G['style']['imgdir']}/nophoto.gif<!--{else}-->{$value['photo']}<!--{/if}-->" width="50px">$value['name']</td>
							<td>$value['market_price']</td>
							<td>$value['supply_price']</td>
							<td>$value['price']</td>
							<td>$value['spec']</td>
							<td>$value['unit_name']</td>
							<td>$value['intro']</td>
							<td>$value['credit_limit']</td>
							<td><a href="javascript:void(0);" onclick="showWindow('add_product', 'plugin.php?id=etuan:my&app=product&op=edit&productid={$value[id]}', 'get', 0)" class="xi2">{lang edit}</a><span class="pipe">|</span><a href="javascript:void(0);" onclick="delete_product({$value[id]});" class="xi2">{lang delete}</a></td>

						</tr>
						<!--{eval $i++;}-->
						<!--{/loop}-->
					<!--{else}-->
						<tr>
							<td colspan="6"><p class="emp">{lang etuan:my_empty_product}</p></td>
						</tr>
					<!--{/if}-->
					</table>
			</div>

		</div>
	</div>
	<div class="appl">
		<!--{template etuan:my_right}-->
	</div>
</div>
<script type="text/javascript">
function delete_product(id){
	var x = new Ajax('HTML');
	x.get('plugin.php?id=etuan:my&app=product&op=delete&productid='+id, function(s, x) {
		$('_product_' + id).style.display = 'none';
	});
}
</script>
<!--{template common/footer}-->