<div class="tbn">
	<h2 class="mt bbda">{lang etuan:my_nav_buyer}</h2>
	<ul>
		<li<!--{if $app=="order"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=order">{lang etuan:my_order}</a></li>
		<li<!--{if $app=="address"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=address">{lang etuan:my_address}</a></li>
	</ul>
	<!--{if true or $is_store}-->
	<h2 class="mt bbda">{lang etuan:my_nav_seller}</h2>
	<ul>
		<li<!--{if $app=="tuan"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan">{lang etuan:my_tuan}</a></li>
		<li<!--{if $app=="supplier"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=supplier">{lang etuan:my_supplier}</a></li>
		<li<!--{if $app=="product"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=product">{lang etuan:my_product}</a></li>
	</ul>
	<!--{/if}-->
</div>