<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em><a href="plugin.php?id=etuan:my&app=supplier">{lang etuan:my_supplier}</a>
	</div>
</div>


<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="thread" src="{STATICURL}image/feed/article.gif" class="vm" /> {lang etuan:my_supplier}</h1>

			<ul class="tb cl">
				<li class="a"><a href="plugin.php?id=etuan:my&app=supplier">{lang all}</a></li>
				<li class="o"><a href="javascript:void(0);" onclick="showWindow('add_supplier', 'plugin.php?id=etuan:my&app=supplier&op=add', 'get', 0)">{lang etuan:my_add_supplier}</a></li>
			</ul>


			<div class="tl">
					<table cellspacing="0" cellpadding="0">
						<tr class="th">
							<td>{lang etuan:my_supplier_name}</td>
							<td>{lang etuan:my_supplier_phone}</td>
							<td>{lang etuan:my_supplier_contact_name}</td>
							<td>{lang etuan:my_supplier_contact_gender}</td>
							<td>{lang etuan:my_supplier_contact_phone}</td>
							<td>{lang etuan:my_supplier_contact_qq}</td>
							<td>{lang etuan:my_supplier_cate}</td>
							<td>{lang etuan:my_supplier_speed_rating}</td>
							<td>{lang etuan:my_supplier_quality_rating}</td>
							<td>{lang etuan:my_supplier_service_rating}</td>
							<td>{lang etuan:my_operation}</td>
						</tr>

					<!--{if $list}-->
						<!--{eval $i=0;}-->
						<!--{loop $list $value}-->
						<tr <!--{if $i%2==0}-->class="a"<!--{/if}--> id="_supplier_{$value['id']}">
						<td>{$value['logo']}{$value['name']}</td>
						<td>$value['phone']</td>
						<td>$value['contact_name']</td>
						<td>$value['contact_gender']</td>
						<td>$value['contact_phone']</td>
						<td>$value['contact_qq']</td>
						<td>$value['cate']</td>
						<td>$value['speed_rating']</td>
						<td>$value['quality_rating']</td>
						<td>$value['service_rating']</td>
							<td><a href="plugin.php?id=etuan:my&app=supplier&op=view&supplierid={$value[id]}" class="xi2">{lang etuan:view}</a><span class="pipe">|</span><a href="javascript:void(0);" onclick="showWindow('add_supplier', 'plugin.php?id=etuan:my&app=supplier&op=edit&supplierid={$value[id]}', 'get', 0)" class="xi2">{lang edit}</a><span class="pipe">|</span><a href="javascript:void(0);" onclick="delete_supplier({$value[id]});" class="xi2">{lang delete}</a></td>

						</tr>
						<!--{eval $i++;}-->
						<!--{/loop}-->
					<!--{else}-->
						<tr>
							<td colspan="6"><p class="emp">{lang etuan:my_empty_supplier}</p></td>
						</tr>
					<!--{/if}-->
					</table>
			</div>

		</div>
	</div>
	<div class="appl">
		<!--{template etuan:my_right}-->
	</div>
</div>
<script type="text/javascript">
function delete_supplier(id){
	var x = new Ajax('HTML');
	x.get('plugin.php?id=etuan:my&app=supplier&op=delete&supplierid='+id, function(s, x) {
		$('_supplier_' + id).style.display = 'none';
	});
}
</script>
<!--{template common/footer}-->