<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em><a href="plugin.php?id=etuan:my&app=shipmethod">{lang etuan:my_shipmethod}</a>
	</div>
</div>


<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="thread" src="{STATICURL}image/feed/article.gif" class="vm" /> {lang etuan:my_shipmethod}</h1>

			<ul class="tb cl">
				<li class="a"><a href="plugin.php?id=etuan:my&app=shipmethod">{lang all}</a></li>
				<li class="o"><a href="javascript:void(0);" onclick="showWindow('add_shipmethod', 'plugin.php?id=etuan:my&app=shipmethod&op=add', 'get', 0)">{lang etuan:my_add_shipmethod}</a></li>
			</ul>


			<div class="tl">
					<table cellspacing="0" cellpadding="0">
						<tr class="th">
						<td>{lang etuan:my_shipmethod_is_enabled}</td>
						<td>{lang etuan:my_shipmethod_name}</td>
						<td>{lang etuan:my_shipmethod_first_unit}</td>
						<td>{lang etuan:my_shipmethod_first_price}</td>
						<td>{lang etuan:my_shipmethod_continue_unit}</td>
						<td>{lang etuan:my_shipmethod_continue_price}</td>
						<td>{lang etuan:my_shipmethod_intro}</td>
							<td>{lang etuan:my_operation}</td>
						</tr>

					<!--{if $list}-->
						<!--{eval $i=0;}-->
						<!--{loop $list $value}-->
						<tr <!--{if $i%2==0}-->class="a"<!--{/if}--> id="_shipmethod_{$value['id']}">
							<td>$value['is_enabled']</td>
							<td>$value['name']</td>
							<td>$value['first_unit']</td>
							<td>$value['first_price']</td>
							<td>$value['continue_unit']</td>
							<td>$value['continue_price']</td>
							<td>$value['intro']</td>
							<td><a href="javascript:void(0);" onclick="showWindow('add_shipmethod', 'plugin.php?id=etuan:my&app=shipmethod&op=edit&shipmethodid={$value[id]}', 'get', 0)" class="xi2">{lang edit}</a><span class="pipe">|</span><a href="javascript:void(0);" onclick="delete_shipmethod({$value[id]});" class="xi2">{lang delete}</a></td>

						</tr>
						<!--{eval $i++;}-->
						<!--{/loop}-->
					<!--{else}-->
						<tr>
							<td colspan="6"><p class="emp">{lang etuan:my_empty_shipmethod}</p></td>
						</tr>
					<!--{/if}-->
					</table>
			</div>

		</div>
	</div>
	<div class="appl">
		<!--{template etuan:my_right}-->
	</div>
</div>
<script type="text/javascript">
function delete_shipmethod(id){
	var x = new Ajax('HTML');
	x.get('plugin.php?id=etuan:my&app=shipmethod&op=delete&shipmethodid='+id, function(s, x) {
		$('_shipmethod_' + id).style.display = 'none';
	});
}
</script>
<!--{template common/footer}-->