<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>
		<em>&rsaquo;</em><a href="plugin.php?id=etuan:my&app=tuan">{lang etuan:my_tuan}</a>
		<em>&rsaquo;</em>{lang etuan:view}
	</div>
</div>


<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="thread" src="static/image/feed/thread.gif" class="vm" /> {$tuan_thread[subject]}{$tuan_thread[intro]}</h1>

			<div class="tl">
								<table cellspacing="0" cellpadding="0">
						<tr class="th">
							<td class="icn">&nbsp;</td>
							<th>{lang etuan:my_tuan_name}</th>
							<td>{lang etuan:my_tuan_duration}</td>
							<td>{lang etuan:my_tuan_status}</td>
						</tr>
						<tr>
							<td class="icn"><a href="forum.php?mod=viewthread&tid=$tuan_thread[tid]" target="_blank"> <img src="source/plugin/etuan/static/icon_post.gif" /> </a></td>
							<th> <a href="forum.php?mod=viewthread&tid=$tuan_thread[tid]" target="_blank">$tuan_thread[subject]</a> </th>
							<td>{$tuan_thread[begin_date]} - {$tuan_thread[end_date]}</td>
							<td class="by">{$tuan_statuss[$tuan_thread[tuan_status]]}</td>
						</tr>
					</table>
</div>

			<div class="tl"><div>
		<!--{template etuan:tuan_view_nav}-->
	</div>
					<!--{if $tuan_orders}-->
						<!--{loop $tuan_orders $tuan_order}-->
							<table cellspacing="0" cellpadding="0">
							  <tr class="th">
								<td>{lang etuan:order_id}</td>
								<td>{lang etuan:order_status}</td>
								<td>{lang etuan:order_buyer}</td>
								<td>{lang etuan:order_area}</td>
								<td>{lang etuan:order_contact_name}</td>
								<td>{lang etuan:order_contact_phone}</td>
								<td>{lang etuan:order_contact_address}</td>
								<td>{lang etuan:order_payment}</td>
								<td>{lang etuan:order_payment_status}</td>
								<td>{lang etuan:order_shipmethod}</td>
								<td>{lang etuan:order_shiptime}</td>
								<td>{lang etuan:order_total_fee}</td>
							  </tr>
								<tr>
								<td>{$tuan_order[id]}</td>
								<td>{$order_statuss[$tuan_order[status]]}</td>
								<td>{$tuan_order[buyer]}</td>
								<td>{$tuan_order[area]}</td>
								<td>{$tuan_order[contact_name]}</td>
								<td>{$tuan_order[contact_phone]}</td>
								<td>{$tuan_order[contact_address]}</td>
								<td>{$tuan_order[payment]}</td>
								<td>{$tuan_order[payment_status]}</td>
								<td>{$tuan_order[shipmethod]}</td>
								<td>{$tuan_order[shiptime]}</td>
								<td>{$tuan_order[total_fee]}</td>
							  </tr>
							  <tr>
								<td colspan="12"><table width="100%" border="0">
							  <tr>
								<td>{lang etuan:order_item_id}</td>
								<td>{lang etuan:order_item_name}</td>
								<td>{lang etuan:order_item_spec}</td>
								<td>{lang etuan:order_item_unit_price}</td>
								<td>{lang etuan:order_item_quantity}</td>
								<td>{lang etuan:order_item_price}</td>
								<td>{lang etuan:order_item_used_credits}</td>
								<td>{lang etuan:order_item_memo}</td>
							  </tr>
							  <!--{loop $tuan_order[items] $tuan_order_item}-->
							  <tr>
								<td>{$tuan_order_item[id]}</td>
								<td>{$tuan_order_item[name]}</td>
								<td>{$tuan_order_item[spec]}</td>
								<td>{$tuan_order_item[unit_price]}</td>
								<td>{$tuan_order_item[quantity]}</td>
								<td>{$tuan_order_item[price]}</td>
								<td>{$tuan_order_item[used_credits]}</td>
								<td>{$tuan_order_item[memo]}</td>
							  </tr><!--{/loop}-->
							</table>
							</td>
							  </tr>
							</table>
						<!--{/loop}-->
					<!--{else}--><p class="emp">暂无订单</p>
					<!--{/if}-->
				</form>
			</div>
			<!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->
		</div>

	</div>
	<div class="appl">
		<!--{template etuan:my_right}-->
	</div>
</div>
<!--{template common/footer}-->