<!--{template common/header}-->
<div id="pt" class="bm cl">
	<!--{subtemplate common/simplesearchform}-->
	<div class="z">
		<a href="/" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
		<a href="plugin.php?id=etuan:my&app=tuan">{lang etuan:my_tuan}</a>
	</div>
</div>


<div id="ct" class="ct2_a wp cl">
	<div class="mn">
		<div class="bm bw0">
			<h1 class="mt"><img alt="thread" src="static/image/feed/thread.gif" class="vm" /> {lang etuan:my_tuan}</h1>
			<ul class="tb cl">
				<li<!--{if $filter=="all"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan">{lang all}</a></li>
				<li<!--{if $filter=="ing"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan&filter=ing">{lang etuan:my_tuan_ing}</a></li>
				<li<!--{if $filter=="over"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan&filter=over">{lang etuan:my_tuan_over}</a></li>
			</ul>
			<div class="tl">
					<table cellspacing="0" cellpadding="0">
						<tr class="th">
							<td class="icn">&nbsp;</td>
							<th>{lang etuan:my_tuan_name}</th>
							<td>{lang etuan:my_tuan_duration}</td>
							<td>{lang etuan:my_tuan_status}</td>
							<td class="num">{lang etuan:my_operation}</td>
						</tr>
					<!--{if $tuan_threads}-->
						<!--{loop $tuan_threads $tuan_thread}-->
						<tr>
							<td class="icn"><a href="forum.php?mod=viewthread&tid=$tuan_thread[tid]" target="_blank"> <img src="source/plugin/etuan/static/icon_post.gif" /> </a></td>
							<th> <a href="forum.php?mod=viewthread&tid=$tuan_thread[tid]" target="_blank">$tuan_thread[subject]</a> </th>
							<td>{$tuan_thread[begin_date]} - {$tuan_thread[end_date]}</td>
							<td class="by">{$tuan_thread[status]}</td>
							<td class="num">
							<a href="plugin.php?id=etuan:my&app=tuan&op=view&tid={$tuan_thread[tid]}" class="xi2">{lang etuan:view}</a>
							<a href="plugin.php?id=etuan:my&app=tuan&op=delete&tid={$tuan_thread[tid]}" class="xi2">{lang etuan:delete}</a>
							</td>
						</tr>
						<!--{/loop}-->
					<!--{else}-->
						<tr>
							<td colspan="5"><p class="emp">{lang etuan:my_empty_tuan}</p></td>
						</tr>
					<!--{/if}-->
					</table>
				</form>
			</div>
			<!--{if $multi}--><div class="pgs cl mtm">$multi</div><!--{/if}-->
		</div>

	</div>
	<div class="appl">
		<!--{template etuan:my_right}-->
	</div>
</div>
<!--{template common/footer}-->