<!--{block return}-->
<h3>开团时间</h3>
<p>{$tuan[begin_date]} - {$tuan[end_date]}</p>
<h3>所在地</h3>
<p>{$tuan[location]}</p>
<h3>运费</h3>
<p>{lang etuan:tuan_ship_fee_pick}: {$tuan[ship_fee_pick]}</p>
<p>{lang etuan:tuan_ship_fee_deliver}:
<!--{if $tuan['ship_only_pick']}-->
本团只能上门自提
<!--{else}-->
{$tuan[ship_fee_deliver]}
<!--{/if}-->

</p>
<h3>参与方式</h3>
<p>
{$tuan[intro]}
</p>



<link rel="stylesheet" type="text/css" href="source/plugin/etuan/static/etuan.css" />
<script type="text/javascript" src="source/plugin/etuan/static/etuan.js"></script>
<div class="trdc xs1">
<em>{lang etuan:tuan_thread_view_products}</em>
<a href="javascript:open_all_trade();">{lang etuan:tuan_thread_expand_all_products}</a>
<a href="javascript:close_all_trade();">{lang etuan:tuan_thread_collapse_all_products}</a>
</div>

<!--{loop $products $k $product}-->
<div class="xs1 cl"><div class="trdb">
<div id="trade{$product[id]}" class="trdl cl">
<div class="tt" onclick="display('trade{$product[id]}');ajaxget('plugin.php?id=etuan:cart&op=detail&tu_id={$tuan['id']}&tp_id={$product[id]}','tradeinfo{$product[id]}','tradeinfo{$product[id]}')">
<img src="{$product[photo]}" onclick="zoom(this, '{$product[photo]}')" width="90" _width="90" _height="90" alt="{$product[name]}">
</div>
<div class="ta spi">
<span class="y"><a href="javascript:;" onclick="display('trade{$product[id]}');ajaxget('plugin.php?id=etuan:cart&op=detail&tu_id={$tuan['id']}&tp_id={$product[id]}','tradeinfo{$product[id]}','tradeinfo{$product[id]}')" title="展开"><img src="static/image/common/collapsed_yes.gif" alt="" class="vm"> 展开</a></span>
<h4><a href="#" target="_blank">{$product[name]}</a></h4>

<dl class="z">
<dt>规格</dt>
<dd>
{$product[spec]}
</dd>
<dt></dt>
<dd>

</dd>
</dl>
<div class="z mtn">
<strong>{$product[unit_price]}</strong>&nbsp;元&nbsp;&nbsp;
<p class="xg1">
<del>{$product[public_price]} 元</del>
</p>
</div>
<div>
<p class="pns mbm">
</p><dl class="amount"><dt>我要买：</dt><dd><a class="reduce" href="javascript:reduce_trade_amount({$product['id']})">-</a><input type="text" value="1"size=3 id="trade_amount_{$product['id']}" onkeyup="set_trade_amount({$product['id']})" name="trade_amount">{$product[unit_name]}<a class="increase" href="javascript:increase_trade_amount({$product['id']})">+</a><a onclick="return addTradeCart({$tuan['id']}, {$product['id']});" href="plugin.php?id=etuan:cart&tuid={$tuan['id']}&tpid={$product['id']}&quantity=1">加入购物车</a></dd></dl>
<!--{if $tuan['seller_qq']}-->
&nbsp;<a href="http://wpa.qq.com/msgrd?V=1&amp;Uin={$tuan['seller_qq']}&amp;Site=$_G['setting']['bbname']&amp;Menu=yes" target="_blank" title="QQ"><img src="static/image/common/qq.gif" alt="QQ" style="vertical-align:middle">在线砍价</a>
<!--{/if}-->

</div>
</div>
</div>
<div id="tradeinfo{$product[id]}">{$product[description]}</div>
</div>
<!--{/loop}-->

<div style="display:none">
<span id="cart_dummy"></span>
</div>
<script type="text/javascript">
<!--
	function open_all_trade()
	{
	<!--{loop $products $k $product}-->
	display('trade{$product[id]}');ajaxget('plugin.php?id=etuan:cart&op=detail&tu_id={$tuan['id']}&tp_id={$product[id]}','tradeinfo{$product[id]}','tradeinfo{$product[id]}')
	<!--{/loop}-->
	}
	function close_all_trade()
	{
	<!--{loop $products $k $product}-->
	$('tradeinfo{$product[id]}').style.display = 'none';
	if($('trade{$product[id]}').style.display == 'none')
	{
		display('trade{$product[id]}');
	}
	<!--{/loop}-->
	}
//-->
</script>
<!--{/block}-->