<ul class="tb cl">
<li<!--{if $report=="orders"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan&op=view&report=orders&tid={$tid}">订单列表</a></li>
<li<!--{if $report=="supplies"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan&op=view&report=supplies&tid={$tid}">供应商供货表</a></li>
<li<!--{if $report=="community_supplies"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan&op=view&report=community_supplies&tid={$tid}">分小区收货表</a></li>
<li<!--{if $report=="community_shipment"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan&op=view&report=community_shipment&tid={$tid}">分小区发货表</a></li>
<li<!--{if $report=="profit_and_loss"}--> class="a"<!--{/if}-->><a href="plugin.php?id=etuan:my&app=tuan&op=view&report=profit_and_loss&tid={$tid}">本团盈亏表</a></li>
</ul>